*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
