<<<<<<< Updated upstream

=======
@import "../stylesheet/variables";
@import "../stylesheet/mixins";
@import "../stylesheet/base/config";
@media (min-width: $break_tab) {
    .wrap_header{
        background-color: black;
        position: relative;
        display: block;
        background-image: $back_ground_header;
        background-size: cover;
        background-blend-mode:exclusion;
        padding-top: 50px;
        padding-bottom:50px;
        isolation: isolate;
    }
    .wrap_header::after{
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background: black;
        opacity: .5;
    }
    .wrap_nav{
        display: flex;
        align-items: center;
    }
    .hamburger{
        display: none;
    }
    .nav_down{
        display: flex;
        justify-content: space-evenly;
        column-gap: 30px;
        margin-right: 50px;
    }
    .wrap_menu{
        z-index:1;
        display: flex;
        background-color: transparent;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2%;
    }
    .wrap_trademark{
        display: flex;
        justify-content: center;
    }
    .trademark{
        @include Trademark_desktop;
    }
    .wrap_list1_menu{
        display: block;
    }
    .list1_menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        column-gap: 30px;
    }
    .list1{
        @include ListMid_menu_desktop;
    }
    .wrap_list2_menu{
        display: block;
    }
    .list2_menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 30px;
    }
    .header_component{
        display: flex;
        justify-content: center;
        padding: 2%;
    }
    .wrap_components{
        display: block;
        text-align: center;
    }
    .compo1{
        margin-bottom: 7%;
    }
    .head_header{
        @include header_header_desktop;
    }
    .wrap_video_header{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }
    .video_header{
        border: transparent 0px solid;
        width: 30em;
        height: 17em;
        box-shadow: 0px 0px 30px black;
    }
    main{
        display: block;
        margin-top: 5%;
    }
    .wrap_maincpo1{
        display: flex;
        justify-content: center;
        padding: 5%;
        width: 100%;
    }
    .maincpo1{
        display: block;
    }
    .first_main_compo{
        text-align: center;
        margin-bottom: 55px;
    }
    .header_compo1{
        margin-bottom: 32px;
        @include header_maincpo1_desk;
    }
    .text1_compo1{
        @include ct1_maincpo1_desk;
    }
    .second_main_compo_1{
        display: flex;
        align-items:center;
        justify-content: space-between;
        column-gap: 5px;
        margin-right: -5%;
    }
    .wrap_content_maincompo1{
        display: block;
        justify-content: center;
    }
    .ct1_main_cpo1{
        display: flex;
        justify-content:space-between;
        align-items: flex-start;
        column-gap: 15px;
        margin-bottom: 15px;
    }
    .img_left_maincpo1{
        width: 42px;
    }
    .cap1_main_cpo1{
        @include cap1_maincpo1_desk;
        margin-bottom: 5px;
    }
    .cap2_main_cpo1{
        @include cap2_maincpo1_desk;
    }
    .laptop{
        width: 60vw;
    }
    .wrap_maincpo2{
        background-color: black;
        position: relative;
        display: block;
        background-image: $back_main_1;
        background-size: cover;
        background-position: center;
        padding-top: 20%;
        padding-bottom:20%;
    }
    .maincpo2{
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-wrap:balance;
    }
    .ct1_maincpo2{
       @include header_maincpo2_desk;
    }
    .ct2_maincpo2{
        @include ct_maincpo2_desk;
        margin-bottom: 3%;
    }
    .btn_maincpo2{
        background-color: #EBCB80;
        border-style: none;
        padding: 1% 3% 1% 3%;
        color: #3C3C3C;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        border-radius: 20px;
    }
    .wrap_maincpo3{
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 5%;
    }
    .maincpo3{
        display: block;
    }
    .wrap_ct1_maincpo3{
        margin-bottom: 5%;
        text-align: center;
    }
    .ct1_maincpo3{
        @include header_maincpo3_desk;
    }
    .wrap_ct2_maincpo3{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 40% 40%;
        column-gap: 40px;
        row-gap: 50px;
    }
    .wrap_per{
        display: flex;
        justify-content: space-evenly;
        column-gap: 30px;
        align-items: flex-start;
        padding: 3%;
        transition: 0.75s;
        border-radius: 5px;
    }
    .wrap_per:hover{
        box-shadow: 0px 0px 10px rgb(207, 204, 204);
    }
    .img_per{
        border-radius: 50%;
    }
    .wr_per_name{
        margin-bottom: 1%;
    }
    .per_name{
        @include name_per_desk;
    }
    .wr_job_per{
        margin-bottom: 10%;
    }
    .job_per{
        @include job_per_desk;
    }
    .wr_scr_per{
        margin-bottom: 5%;
    }
    .scr_per{
        @include scr_per_desk;
    }
    .wr_cont_per{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;
    }
    .wrap_maincpo4{
        display :flex;
        justify-content: center;
        padding: 5%;
        margin-top: 5%;
        background-color: #F6F6F6;
    }
    .maincpo4{
        display: block;
    }
    .ct_maincpo4{
        display: block;
    }
    .wr_ct1_maincpo4{
        display: block;
        text-align: center;
        padding-bottom: 7%;
        @include header_maincpo4_desk;
    }
    .wr_ct2_maincpo4{
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        column-gap: 40px;
    }
    .wr_plan1_maincpo4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        background: rgb(62,62,62);
        background: linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(80,80,80,0.7200948250393908) 100%, rgba(0,0,0,1) 100%);
        padding: 5% 8%;
        border-radius: 7px;
        transition: 0.25s;
        text-wrap: nowrap;
    }
    .wr_plan1_maincpo4:hover{
        box-shadow: 0px 10px 10px rgb(148, 148, 148);
    }
    .plan1_name{
        @include plan_name_desk;
        color: #EBCB80;
    }
    .price_pl1{
        @include plan_price_desk;
        color: #FFF;
    }
    .dolar_pl1{
        @include dollar_desk;
        color: #FFF;
    }
    .year_pl1{
        color: #FFF;
        @include year_desk;
    }
    .scr_pl1{
        color: #FFF;
        @include scr_pl_desk;
    }
    .btn_pl1{
        background-color: #EBCB80;
        color: #4B4B4B;
        @include btn_pl_desk;
    }

    .wr_plan2_maincpo4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        background-color: rgb(238,210,139);
        padding: 5% 8%;
        border-radius: 7px;
        transition: 0.25s;
        text-wrap: nowrap;
    }
    .wr_plan2_maincpo4:hover{
        box-shadow: 0px 10px 10px rgb(148, 148, 148);
    }
    .plan2_name{
        @include plan_name_desk;
        color: black;
    }
    .price_pl2{
        color: black;
        @include plan_price_desk;
    }
    .dolar_pl2{
        color: black;
        @include dollar_desk;
    }
    .year_pl2{
        color: black;
        @include year_desk;
    }
    .scr_pl2{
        color: black;
        @include scr_pl_desk;
    }
    .btn_pl2{
        background-color: rgb(75,75,75);
        color: white;
        @include btn_pl_desk;
    }

    .wr_plan3_maincpo4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        background: rgb(37,35,35);
        background: linear-gradient(90deg, rgba(37,35,35,1) 0%, rgba(0,0,0,0.7200948250393908) 100%, rgba(0,0,0,1) 100%);
        padding: 5% 5%;
        border-radius: 7px;
        transition: 0.25s;
        text-wrap: nowrap;
    }
    .wr_plan3_maincpo4:hover{
        box-shadow: 0px 10px 10px rgb(148, 148, 148);
    }
    .plan3_name{
        @include plan_name_desk;
        color: #EBCB80;
    }
    .price_pl3{
        color: #FFF;
        @include plan_price_desk;
    }
    .dolar_pl3{
        color: #FFF;
        @include dollar_desk;
    }
    .year_pl3{
        color: #FFF;
        @include year_desk;
    }
    .scr_pl3{
        color: #FFF;
        @include scr_pl_desk;
    }
    .btn_pl3{
        background-color: #EBCB80;
        color: #4B4B4B;
        @include btn_pl_desk;
    }
    .wrap_btn_allplan{
        display: none;
    }
}

// responsive screen in tablet
@media (min-width: $break_phone) and (max-width: $break_tab){
    .wrap_header{
        background-color: black;
        position: relative;
        display: block;
        background-image: $back_ground_header;
        background-size: cover;
        background-blend-mode:exclusion;
        padding-top: 10px;
        padding-bottom:50px;
        isolation: isolate;
    }
    .wrap_header::after{
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background: black;
        opacity: .5;
    }
    .wrap_nav{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
    }
    .hamburger{
        display: none;
    }
    .nav_down{
        display: flex;
        column-gap: 30px;
    }
    .wrap_menu{
        z-index:1;
        display: flex;
        background-color: transparent;
        padding: 5% 3% 0% 3% ;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2%;
    }
    .wrap_trademark{
        display: flex;
        justify-content: center;
    }
    .trademark{
        @include Trademark_Tab;
    }
    .wrap_list1_menu_phone{
        display: none;
    }
    .wrap_list1_menu{
        padding: 0% 5% 0% 5%;
        display: block;
    }
    .list1_menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        column-gap: 20px;
    }
    .list1{
        @include ListMid_menu_Tab;
    }
    .wrap_list2_menu{
        display: block;
    }

    .list2_menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 20px;
    }
    .header_component{
        display: flex;
        justify-content: center;
        padding: 5%;
    }
    .wrap_components{
        display: block;
        text-align: center;
    }
    .compo1{
        margin-bottom: 7%;
    }
    .head_header{
        @include header_header_tab;
    }
    .wrap_video_header{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }
    .video_header{
        border: transparent 0px solid;
        width: 22em;
        height: 13em;
        box-shadow: 0px 0px 30px black;
    }
    main{
        display: block;
        margin-top: 5%;
    }
    .wrap_maincpo1{
        display: flex;
        justify-content: center;
        padding: 5%;
        width: 100%;
    }
    .maincpo1{
        display: block;
    }
    .first_main_compo{
        text-align: center;
        margin-bottom: 55px;
    }
    .header_compo1{
        margin-bottom: 15px;
        @include header_maincpo1_tab;
    }
    .text1_compo1{
        @include ct1_maincpo1_tab
    }
    .second_main_compo_1{
        display: flex;
        align-items:center;
        justify-content: space-between;
        column-gap: 5px;
        margin-right: -5%;
    }
    .wrap_content_maincompo1{
        display: block;
        justify-content: center;
    }
    .ct1_main_cpo1{
        display: flex;
        justify-content:space-between;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 20px;
    }
    .img_left_maincpo1{
        width: 42px;
    }
    .cap1_main_cpo1{
        @include cap1_maincpo1_tab;
        margin-bottom: 5px;
    }
    .cap2_main_cpo1{
        @include cap2_maincpo1_tab;
    }
    .wrap_laptop{
        position: relative;
        width: 60vw;
        overflow-x: hidden;
    }
    .laptop{
        width: 60vw;
    }
    .wrap_maincpo2{
        position: relative;
        display: block;
        background-image: $back_main_1;
        background-size: cover;
        background-position: center;
        padding-top: 20%;
        padding-bottom:20%;
    }
    .maincpo2{
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-wrap:balance;
    }
    .ct1_maincpo2{
       @include header_maincpo2_tab;
    }
    .ct2_maincpo2{
        @include ct_maincpo2_tab;
        margin-bottom: 3%;
    }
    .btn_maincpo2{
        background-color: #EBCB80;
        border-style: none;
        padding: 1% 3% 1% 3%;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.8px;
        border-radius: 20px;
    }
    .wrap_maincpo3{
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 5%;
    }
    .maincpo3{
        display: block;
    }
    .wrap_ct1_maincpo3{
        margin-bottom: 5%;
        text-align: center;
    }
    .ct1_maincpo3{
        @include header_maincpo3_tab;
    }
    .wrap_ct2_maincpo3{
        display: grid;
        justify-content: center;
        align-items: flex-start;
        grid-template-columns: 40% 40%;
        column-gap: 40px;
        row-gap: 50px;
    }
    .wrap_per{
        display: flex;
        justify-content: space-evenly;
        column-gap: 30px;
        align-items: flex-start;
        padding: 3%;
        transition: 0.75s;
        border-radius: 5px;
    }
    .wrap_per:hover{
        box-shadow: 0px 0px 10px rgb(207, 204, 204);
    }
    .img_per{
        border-radius: 50%;
    }
    .wr_per_name{
        margin-bottom: 1%;
    }
    .per_name{
        @include name_per_tab;
    }
    .wr_job_per{
        margin-bottom: 10%;
    }
    .job_per{
        @include job_per_tab;
    }
    .wr_scr_per{
        margin-bottom: 5%;
    }
    .scr_per{
        @include scr_per_tab;
    }
    .wr_cont_per{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;
    }
    .wrap_maincpo4{
        display :flex;
        justify-content: center;
        padding: 5%;
        margin-top: 5%;
        background-color: #F6F6F6;
    }
    .maincpo4{
        display: block;
    }
    .ct_maincpo4{
        display: block;
    }
    .wr_ct1_maincpo4{
        display: block;
        text-align: center;
        padding-bottom: 7%;
        @include header_maincpo4_tab;
    }
    .wr_ct2_maincpo4{
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        column-gap: 40px;
    }
    .wr_plan1_maincpo4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;
        background: rgb(62,62,62);
        background: linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(80,80,80,0.7200948250393908) 100%, rgba(0,0,0,1) 100%);
        padding: 5% 7%;
        border-radius: 7px;
        transition: 0.25s;
        text-wrap: nowrap;
    }
    .wr_plan1_maincpo4:hover{
        box-shadow: 0px 10px 10px rgb(148, 148, 148);
    }
    .plan1_name{
        @include plan_name_tab;
        color: #EBCB80;
    }
    .price_pl1{
        @include plan_price_tab;
        color: #FFF;
    }
    .dolar_pl1{
        @include dollar_tab;
        color: #FFF;
    }
    .year_pl1{
        color: #FFF;
        @include year_tab;
    }
    .scr_pl1{
        color: #FFF;
        @include scr_pl_tab;
    }
    .btn_pl1{
        background-color: #EBCB80;
        color: #4B4B4B;
        @include btn_pl_tab;
    }

    .wr_plan2_maincpo4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;
        background-color: rgb(238,210,139);
        padding: 5% 7%;
        border-radius: 7px;
        transition: 0.25s;
        text-wrap: nowrap;
    }
    .wr_plan2_maincpo4:hover{
        box-shadow: 0px 10px 10px rgb(148, 148, 148);
    }
    .plan2_name{
        @include plan_name_tab;
        color: black;
    }
    .price_pl2{
        color: black;
        @include plan_price_tab;
    }
    .dolar_pl2{
        color: black;
        @include dollar_tab;
    }
    .year_pl2{
        color: black;
        @include year_tab;
    }
    .scr_pl2{
        color: black;
        @include scr_pl_tab;
    }
    .btn_pl2{
        background-color: rgb(75,75,75);
        color: white;
        @include btn_pl_tab;
    }

    .wr_plan3_maincpo4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;
        background: rgb(37,35,35);
        background: linear-gradient(90deg, rgba(37,35,35,1) 0%, rgba(0,0,0,0.7200948250393908) 100%, rgba(0,0,0,1) 100%);
        padding: 5% 5%;
        border-radius: 7px;
        transition: 0.25s;
        text-wrap: nowrap;
    }
    .wr_plan3_maincpo4:hover{
        box-shadow: 0px 10px 10px rgb(148, 148, 148);
    }
    .plan3_name{
        @include plan_name_tab;
        color: #EBCB80;
    }
    .price_pl3{
        color: #FFF;
        @include plan_price_tab;
    }
    .dolar_pl3{
        color: #FFF;
        @include dollar_tab;
    }
    .year_pl3{
        color: #FFF;
        @include year_tab;
    }
    .scr_pl3{
        color: #FFF;
        @include scr_pl_tab;
    }
    .btn_pl3{
        background-color: #EBCB80;
        color: #4B4B4B;
        @include btn_pl_tab;
    }
    .wrap_btn_allplan{
        display: none;
    }
}

// Responsive of Phone screen
@media screen and (max-width: $break_phone) {
    .wrap_header{
        background-color: black;
        position: relative;
        display: block;
        background-image: $back_ground_header;
        background-size: cover;
        background-blend-mode:exclusion;
        padding-top: 10px;
        padding-bottom:50px;
        isolation: isolate;
    }
    .wrap_header::after{
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background: black;
        opacity: .5;
    }
    .wrap_nav{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 67%;
        justify-content: space-between;
    }
    .hamburger{
        display: block;
    }
    .wrap_menu{
        z-index:1;
        display: flex;
        background-color: transparent;
        padding: 6% 6% 0% 6%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15%;
    }
    .wrap_trademark{
        display: flex;
        justify-content: center;
    }
    .trademark{
        @include Trademark_phone;
    }
    .wrap_list1_menu{
        display: block;
    }
    .wrap_list1_menu_phone{
        display: block;
    }
    .nav_down{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        backdrop-filter: brightness(20%);
        padding-top: 10%;
        width: 50%;
        height: 100%;
    }
    .hamburger:hover~.nav_down{
        display: block;
    }
    .list1{
        @include ListMid_menu_phone;
    }
    .wrap_list2_menu{
        display: block;
    }
    .list2_menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 20px;
    }
    .header_component{
        display: flex;
        justify-content: center;
        padding: 7%;
    }
    .wrap_components{
        display: block;
        text-align: center;
    }
    .compo1{
        margin-bottom: 7%;
    }
    .head_header{
        @include header_header_phone;
    }
    .wrap_video_header{
        display: flex;
        justify-content: center;
        margin-bottom: 40%;
    }
    .video_header{
        border: transparent 0px solid;
        width: 16em;
        height: 10em;
        box-shadow: 0px 0px 30px black;
    }
    main{
        display: block;
        margin-top: 20%;
    }
    .wrap_maincpo1{
        display: flex;
        justify-content: center;
        padding: 5%;
        width: 100%;
    }
    .maincpo1{
        display: block;
    }
    .first_main_compo{
        text-align: center;
        margin-bottom: 55px;
    }
    .header_compo1{
        margin-bottom: 5px;
        @include header_maincpo1_phone;
    }
    .text1_compo1{
        @include ct1_maincpo1_phone;
    }
    .second_main_compo_1{
        display: block;
        text-align: center;
    }
    .wrap_content_maincompo1{
        display: block;
        justify-content: center;
        text-align: left;
    }
    .ct1_main_cpo1{
        display: flex;
        justify-content:space-between;
        align-items: flex-start;
        column-gap: 20px;
        margin-bottom: 20px;
    }
    .img_left_maincpo1{
        width: 42px;
    }
    .cap1_main_cpo1{
        @include cap1_maincpo1_phone;
        margin-bottom: 5px;
    }
    .cap2_main_cpo1{
        @include cap2_maincpo1_phone;
    }
    .laptop{
        width: 70vw;
    }
    .wrap_maincpo2{
        position: relative;
        display: block;
        background-image: $back_main_1;
        background-size: cover;
        background-position: center;
        padding-top: 20%;
        padding-bottom:20%;
    }
    .maincpo2{
        text-align: center;
        display: block;
        text-wrap:balance;
    }
    .ct1_maincpo2{
        @include header_maincpo2_phone;
    }
    .ct2_maincpo2{
        @include ct_maincpo2_phone;
    }
    .btn_maincpo2{
        background-color: #EBCB80;
        border-style: none;
        padding: 1% 3% 1% 3%;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.8px;
        border-radius: 20px;
    }
    .wrap_maincpo3{
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 15%;
    }
    .maincpo3{
        display: block;
    }
    .wrap_ct1_maincpo3{
        margin-bottom: 5%;
        text-align: center;
    }
    .ct1_maincpo3{
        @include header_maincpo3_phone;
    }
    .wrap_ct2_maincpo3{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 90%;
        column-gap: 40px;
        row-gap: 50px;
    }
    .wrap_per{
        display: flex;
        justify-content: space-evenly;
        column-gap: 30px;
        align-items: flex-start;
        padding: 3%;
        transition: 0.75s;
        border-radius: 5px;
    }
    .wrap_per:hover{
        box-shadow: 0px 0px 10px rgb(207, 204, 204);
    }
    .img_per{
        border-radius: 50%;
    }
    .wr_per_name{
        margin-bottom: 1%;
    }
    .per_name{
        @include name_per_phone;
    }
    .wr_job_per{
        margin-bottom: 10%;
    }
    .job_per{
        @include job_per_phone;
    }
    .wr_scr_per{
        margin-bottom: 5%;
    }
    .scr_per{
        @include scr_per_phone;
    }
    .wr_cont_per{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;
    }
    .wrap_maincpo4{
        display: flex;
        background-color: #F6F6F6;
        padding-top: 10%;
        margin-top: 10%;
        justify-content: center;
    }
    .maincpo4{
        display: block;
    }
    .ct_maincpo4{
        display: block;
    }
    .wr_ct1_maincpo4{
        display: block;
        text-align: center;
        @include header_maincpo4_phone;
    }
    .wr_ct2_maincpo4{
        display: flex;
        padding-top: 30%;
        justify-content:center;
        align-items: center;
        text-align: center;
        column-gap: 40px;
    }
    .wr_plan1_maincpo4{
        display: flex;
        z-index: 0;
        flex-direction: column;
        position: relative;
        justify-content: center;
        transform: translateY(-10px);
        row-gap: 5px;
        background: rgb(62,62,62);
        background: linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(80,80,80,0.7200948250393908) 100%, rgba(0,0,0,1) 100%);
        padding: 5% 8%;
        border-radius: 7px;
        transition: 0.25s;
        text-wrap: nowrap;
        box-shadow: 0px 10px 10px rgb(148, 148, 148);

    }
    .wr_plan1_maincpo4:hover{
        box-shadow: 0px 10px 10px rgb(148, 148, 148);
    }
    .plan1_name{
        @include plan_name_phone;
        color: #EBCB80;
    }
    .price_pl1{
        @include plan_price_phone;
        color: #FFF;
    }
    .dolar_pl1{
        @include dollar_phone;
        color: #FFF;
    }
    .year_pl1{
        color: #FFF;
        @include year_phone;
    }
    .scr_pl1{
        color: #FFF;
        @include scr_pl_phone;
    }
    .btn_pl1{
        background-color: #EBCB80;
        color: #4B4B4B;
        @include btn_pl_phone;
    }

    .wr_plan2_maincpo4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position:absolute;
        transform: translateY(15px);
        row-gap: 5px;
        background-color: rgb(238,210,139);
        padding: 5% 6%;
        border-radius: 7px;
        transition: 0.25s;
        text-wrap: nowrap;
        box-shadow: 0px 10px 10px rgb(148, 148, 148);

    }
    .wr_plan2_maincpo4:hover{
        box-shadow: 0px 10px 10px rgb(148, 148, 148);
    }
    .plan2_name{
        @include plan_name_phone;
        color: black;
    }
    .price_pl2{
        color: black;
        @include plan_price_phone;
    }
    .dolar_pl2{
        color: black;
        @include dollar_phone;
    }
    .year_pl2{
        color: black;
        @include year_phone;
    }
    .scr_pl2{
        color: black;
        @include scr_pl_phone;
    }
    .btn_pl2{
        background-color: rgb(75,75,75);
        color: white;
        @include btn_pl_phone;
    }

    .wr_plan3_maincpo4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        transform: translateY(30px);
        row-gap: 5px;
        background: rgb(37,35,35);
        background: linear-gradient(90deg, rgba(37,35,35,1) 0%, rgba(0,0,0,0.7200948250393908) 100%, rgba(0,0,0,1) 100%);
        padding: 5% 5%;
        border-radius: 7px;
        transition: 0.25s;
        text-wrap: nowrap;
        box-shadow: 0px 10px 10px rgb(148, 148, 148);
    }

    .plan3_name{
        @include plan_name_phone;
        color: #EBCB80;
    }
    .price_pl3{
        color: #FFF;
        @include plan_price_phone;
    }
    .dolar_pl3{
        color: #FFF;
        @include dollar_phone;
    }
    .year_pl3{
        color: #FFF;
        @include year_phone;
    }
    .scr_pl3{
        color: #FFF;
        @include scr_pl_phone;
    }
    .btn_pl3{
        background-color: #EBCB80;
        color: #4B4B4B;
        @include btn_pl_phone;
    }
    .wrap_btn_allplan{
        margin-top: 50%;
        margin-bottom: 30%;
        display: flex;
        justify-content: space-evenly;
        column-gap: 20px;
    }
    .btn_choose_pl{
        border-radius: 20px;
        border-style: none;
        padding: 3% 5%;
    }
}
>>>>>>> Stashed changes
