@import "../abstracts/variables";
@import "../abstracts/mixins";
@media (min-width:$break_tab){
    form{
        margin: 20px;
        padding: 3%;
    }
    .wrap_inp_name_mail{
        display: flex;
        padding-bottom: 20px;
        gap: 15px;
        width:100%;
    }
    .inp{
        background-color: transparent;
        outline: none;
        border-style: solid;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        @include font_large();
        outline: none;
    }
    #mesage{
        width: 100%;
    }
    .wrap_form_btn{
        display: flex;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:$break_tab) and (min-width:$break_phone){
    form{
        margin: 20px;
        padding: 3%;
    }
    .wrap_inp_name_mail{
        display: flex;
        padding-bottom: 20px;
        gap: 15px
    }
    .inp{
        background-color: transparent;
        outline: none;
        border-style: solid;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        @include font_medium();
        outline: none;
        width: 100%;
    }
    #mesage{
        width: 100%;
    }
    .wrap_form_btn{
        display: flex;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:$break_phone){
    form{
        margin: 20px;
        padding: 3%;
    }
    .wrap_inp_name_mail{
        display: flex;
        padding-bottom: 20px;
        gap: 15px
    }
    .inp{
        background-color: transparent;
        outline: none;
        border-style: solid;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        @include font_small();
        outline: none;
        width: 100%;
    }
    #mesage{
        width: 100%;
    }
    .wrap_form_btn{
        display: flex;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
    }
}
