$background_header: url("../../assets/images/background_header.png");
$background_download: url("../../assets/images/background_main_1.png");
$background_person: url("../../assets/images/background_main_2.png");
