// break point Tab
$break_tab : 769px;
// break point Phone
$break_phone: 550px;
// color usually in use
$color_yellow: #EBCB80;
$color_white: white;
$color_black: #4B4B4B;
$back_color_plan:rgb(243, 242, 242);
$silver_col:rgb(102, 101, 101);
$plat_col:rgb(65, 64, 64);
