<section>
    <div class="wrap_download">
        <div class="download_ct">
            <p class="header_download">Get Your Free Version</p>
            <p class="header_script">Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner cartridge market. The market today is approximately a twenty billion dollar business.</p>
            <!-- start download button -->
            <div class="wrap__down_btn">
                <include src="./components/button.html"
                locals='{"BtnColor":"yellow_btn",
                        "CtBtn":"DOWNLOAD"}'>
                </include>
            </div>
        </div>
    </div>
</section>
