<section>
    <div class="feature">
        <div class="wrap_header_feat">
            <p class="feat_header">Features</p>
            <p class="feat_script">WE’RE TAKING IT TO THE NEXT LEVEL</p>
        </div>
        <div class="wrap_ct_feat">
            <div class="feat_ct">
                <include 
                src="./components/feature_script.html"
                locals='{"tagImage" : "../assets/images/responsive.png", "tagTitle":"RESPONSIVE LAYOUT","tagScript":"The past few years have seen a dramatic change in the public perception of cosmetic surgery."}'
                >
                </include>
                <include
                 src="./components/feature_script.html"
                locals='{"tagImage" : "../assets/images/diamond.png", "tagTitle":"PIXEL PERFECT","tagScript":"About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about."}'
                >
                </include>
                <include src="./components/feature_script.html"
                locals='{"tagImage" : "../assets/images/layers.png", "tagTitle":"ORGANIZED LAYERS","tagScript":"Are you one of the thousands of Iphone owners who has no idea that they can get free games for their Iphone?"}'>
                </include>
            </div>
                <div class="wrap_mac">
                    <img class="mac" src="../assets/images/mac.png" alt="mac">
                </div>
            
        </div>
    </div>
</section>
