<div class="header_component">
    <figure class=head_content">
        <div class="wrap_title">
            <figcaption class="title">See The Unmatched Beauty Of The Great Lakes</figcaption>
        </div>
        <div class="wrap_video">
           <video class="video" controls src="../assets/video/y2mate.com - BINZ  HIT ME UP ft NOMOVODKA  OFFICIAL MV_480p.mp4"></video>
        </div>
        <div class="wrap_arrow">
            <img class="arrow" src="../assets/images/scroll-down.png" alt="scroll down">
        </div>
    </figure>
</div>
