<p class="res_ui">RESPONSIVE UI KIT</p>
<div class="ct1">
    <div class="ct_text1">
        <div class="text1">
            <p class="head_ct1">HOFMANN</p>
            <br>
            <p class="text_in1">We're Bing It To The New level</p><br>
            <p class="text_in2">Every new computer that's brought home from the store has an operating system installed onto it. But what most new computer users don’t realize, is that without an operating system, that computer would be a simple shell of possibilities.</p>
        </div>
        <div class="down_from">
            <button class="ios_btn"><img class="ios" src="../images/dce06983d4a7ee1028db8a6dac59b584.png" alt="App Store"></button>
            <button class="andr_btn"><img class="android" src="../images/55faae35d7761d4536109cce66cc78ee.png" alt="Google Play"></button>
        </div>
    </div>
    <div class="wrap_phone">
        <div class="wrap">
            <div class="phone">
                <img class="phone_img" src="../images/6376103c7e7f6833cb95bc49d660a793.png" alt="phone">
                <img class="screen_img"  src="../images/dcea67fd3109f519840646e1f4fd5a59.png" alt="phone">
            </div>
        </div>
    </div>
</div>