<!-- EOL: CRLF -->
<!-- This header_compo.html file uses CRLF line endings. -->
<div class="header_component">
    <div class="wrap_components">
        <div class="compo1">
            <p class="head_header">See The Unmatched Beauty Of The Great Lakes</p>
        </div>
        <div class="wrap_video_header">
            <iframe  class="video_header" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <figure class="wrap_arrow">
            <img src="../images/scroll-down.png">
        </figure>
    </div>    
</div>
<!-- Rest of header_compo.html content-->