<div class="header_component">
    <figure class=head_content">
        <div class="wrap_title">
            <p class="title">See The Unmatched Beauty Of The Great Lakes</p>
        </div>
        <div class="wrap_video">
            <img class="video" src="https://s3-alpha-sig.figma.com/img/1c5f/5dfc/41d472109170adad69b55cf6480e26ee?Expires=1700438400&Signature=cI9S7DmV3DTGvApMh7YOfZl-BUwTwknBRZLjcPmdCnsZFfdk9Vr~tGN5mQhFnIQ5rkqgZeBANAekqWjpKcyMx4WJprO2J9hEZVyMuyp-VmgE~HAJqgEFUSicfVHOyP2GSJJvaZJVjLgyW1YzVEqrjyUhzZlR-dBfr8sCr~7NNUJukdO7IwVXUVhlrm0H6GrDzL7N3P~YLgHbr0j4uRJSe2cpsPz9317TCtgA7CsVAFS9RunJoWggbVjqOZ8e5wBoCnJl7AXPT1NSck91vN9zcRRXdl3MthBm2mRinrqPHg3qoxjT4ZvDP4q51Sjwu6RocqD5BXctywKaYVtRrphGuw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
            <img class="play_btn" src="../images/play-button.png">
        </div>
        <img class="arrow" src="../images/scroll-down.png" alt="">
    </figure>
    <div class="wrap_arrow">
    </div>
</div>
