<div class="wrap_maincpo3">
    <div class="maincpo3">
        <div class="wrap_ct1_maincpo3">
            <p class="ct1_maincpo3">Testimonials</p>
        </div>
        <div class="wrap_ct2_maincpo3">
            <div class="wrap_per">
                <div class="wr_img_per">
                    <img class="img_per" src="../images/person_1.png" alt="">
                </div>
                <div class="wrap_inf_per">
                    <div class="wr_per_name">
                        <p class="per_name">LULU HOFFMAN</p>
                    </div>
                    <div class="wr_job_per">
                        <p class="job_per">Marketing Consultant at okodesign.net</p>
                    </div>
                    <div class="wr_scr_per">
                        <p class="scr_per">If you are an entrepreneur, you know that your success cannot depend on the opinions of others. Like the wind, opinions change…like the weather, opinions change frequently.</p>
                    </div>
                    <div class="wr_cont_per">
                        <img src="../images/linkedin.png" alt="">
                        <img src="../images/twitter.png" alt="">
                        <img src="../images/google-plus.png" alt="">
                    </div>
                </div>
            </div>
            <div class="wrap_per">
                <div class="wr_img_per">
                    <img class="img_per" src="../images/person_2.png" alt="">
                </div>
                <div class="wrap_inf_per">
                    <div class="wr_per_name">
                        <p class="per_name">ELSIE DUNCAN</p>
                    </div>
                    <div class="wr_job_per">
                        <p class="job_per">Project Manager at okodesign.net</p>
                    </div>
                    <div class="wr_scr_per">
                        <p class="scr_per">Ever heard of the Fuller Brush Man? You know, those legendary guys who came knocking on the front doors of America, selling brushes, mops and cleaners?</p>
                    </div>
                    <div class="wr_cont_per">
                        <img src="../images/facebook.png" alt="">
                        <img src="../images/twitter.png" alt="">
                    </div>
                </div>
            </div>
            <div class="wrap_per">
                <div class="wr_img_per">
                    <img class="img_per" src="../images/persong_4.png" alt="">
                </div>
                <div class="wrap_inf_per">
                    <div class="wr_per_name">
                        <p class="per_name">DUSTIN GONZALES</p>
                    </div>
                    <div class="wr_job_per">
                        <p class="job_per">CEO at hofmannui.net</p>
                    </div>
                    <div class="wr_scr_per">
                        <p class="scr_per">Do you remember the story of “The Wizard of Oz”? In this story we saw the characters of Dorothy, who had wanted to run away from home because she thought there was a better place somewhere.</p>
                    </div>
                    <div class="wr_cont_per">
                        <img src="../images/facebook.png" alt="">
                        <img src="../images/linkedin.png" alt="">
                        <img src="../images/google-plus.png" alt="">
                    </div>
                </div>
            </div>
            <div class="wrap_per">
                <div class="wr_img_per">
                    <img class="img_per" src="../images/person_5.png" alt="">
                </div>
                <div class="wrap_inf_per">
                    <div class="wr_per_name">
                        <p class="per_name">LAURA PARKS</p>
                    </div>
                    <div class="wr_job_per">
                        <p class="job_per">UX Lead at hofmannui.net</p>
                    </div>
                    <div class="wr_scr_per">
                        <p class="scr_per">They are big, bold and beautiful. Billboards have been around for quite a while. In almost all places nowadays you can find billboards of just about every product there is in the market. No matter how you see it, billboard advertising is on the rise.</p>
                    </div>
                    <div class="wr_cont_per">
                        <img src="../images/facebook.png" alt="">
                        <img src="../images/linkedin.png" alt="">
                        <img src="../images/twitter.png" alt="">
                        <img src="../images/google-plus.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
