<div class="wrap_maincpo1">
    <div class="maincpo1">
        <div class="first_main_compo">
            <p class="header_compo1">Feature</p>
            <p class="text1_compo1">WE' RE TAKING IT TO THE NEXT LEVEL</p>
        </div>
        <div class="second_main_compo_1">
            <div class="wrap_content_maincompo1">
                <figure class="ct1_main_cpo1">
                    <img class="img_left_maincpo1" src="../images/responsive.png" alt="responsive">
                    <figcaption class="cap_img_maincpo1">
                        <p class="cap1_main_cpo1">RESPONSIVE LAYOUT</p>
                        <p class="cap2_main_cpo1">The past few years have seen a dramatic change in the public perception of cosmetic surgery.</p>
                    </figcaption>
                </figure>
                <figure class="ct1_main_cpo1">
                    <img  class="img_left_maincpo1" src="../images/diamond.png" alt="diamond">
                    <figcaption class="cap_img_maincpo1">
                        <p class="cap1_main_cpo1">PIXEL PERFECT</p>
                        <p class="cap2_main_cpo1">About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about.</p>
                    </figcaption>
                </figure>
                <figure class="ct1_main_cpo1">
                    <img  class="img_left_maincpo1" src="../images/layers.png" alt="layers">
                    <figcaption class="cap_img_maincpo1">
                        <p class="cap1_main_cpo1">ORGANIZED LAYERS</p>
                        <p class="cap2_main_cpo1">Are you one of the thousands of Iphone owners who has no idea that they can get free games for their Iphone?</p>
                    </figcaption>
                </figure>
            </div>
            <div class="wrap_laptop">
                <img class="laptop" src="../images/mac.png" alt="mac">
            </div>
        </div>
    </div>
</div>
