<div class="menu">
    <div class="Brand">
        <p class="Brand_text">
            HOFMANN
        </p>
    </div>
    <div class="wrap_list">
        <ul class="list_ul1">
            <li class="list_li">Prices</li>
            <li class="list_li">Booking</li>
            <li class="list_li">Blog</li>
            <li class="list_li">Servies</li>
        </ul>
        <ul class="list_ul2">
            <li class="list_li1"><img class="search_icon" src="/src/images/search.png" alt="search"></li>
            <li class="list_li1">
                <select class="select">
                    <option class="op">US</option>
                    <option class="op">EN</option>
                    <option class="op">VI</option>
                </select>
            </li>
        </ul>
    </div>
</div>