<menu>
    <div class="wrap_trademark">
        <p class="trademark">H.</p>
    </div>
    <nav class="wrap_nav">
        <ul class="wrap_list_option">
            <li class="list_ham">
                <button class="ham_btn"><img class="hamburger_response" src="../images/Hamburger.png" alt="Hamburger"></button>
                <include src="./components/list.html" 
                locals='{
                    "choose":"list_noimg",
                    "ul_classname":"wrap_list_response",
                    "li_classname":"list_menu",
                    "list" : "[`HOTELS`, `AIRLINES`, `VACATIONS`, `FIND MORE`]"
                }'>
                </include>
            </li>
        </ul>
        <include src="./components/list.html" 
                locals='{
                    "choose":"list_img",
                    "ul_classname":"wrap_list_contact",
                    "li_classname":"list_menu",
                    "list" : "[`../images/twitter_white.png`, `../images/facebook_white.png`, `../images/instagram_white.png`]"
                }'>
        </include>
    </nav>
</menu>
