<div class="wrap_menu">
    <div class="wrap_trademark">
            <p class="trademark">H.</p>
    </div>
<div class="wrap_nav">
<nav class="wrap_list1_menu">
    <ul class="list1_menu">
        <li class="list1">
            <img class="hamburger" src="../images/Hamburger.png" alt="">
            <ul class="nav_down">
                <li class="list1"><a href="">HOTELS</a></li>
                <li class="list1"><a href="">AIRLINES</a></li>
                <li class="list1"><a href="">VACATIONS</a></li>
                <li class="list1"><a href="">FIND MORE</a></li>
            </ul>
        </li>
    </ul>
</nav>
<nav class="wrap_list2_menu">
    <ul class="list2_menu">
        <li class="lits2"><a href=""><img class="img_lits2" src="../images/twitter_white.png" alt=""></a></li>
        <li class="lits2"><a href=""><img class="img_lits2" src="../images/facebook_white.png" alt=""></a></li>
        <li class="lits2"><a href=""><img class="img_lits2" src="../images/instagram_white.png" alt=""></a></li>
    </ul>
</nav>
</div>
</div>
