<section>
    <div class="wrap_person_compo">
        <div class="wrap_person_slider">
            <div class="wrap_all_person">
                <include src="./components/person_info.html" locals='{
                    "PerID":"per1",
                    "PerName":"Gregory Francis",
                    "PerPos":"CHIEF ENGINEER",
                    "PerScript":"I’ve started to work in company at 2009. Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age."
                }'>
                </include>
                <include src="./components/person_info.html" locals='{
                    "PerID":"per2",
                    "PerName":"Gregory Francis",
                    "PerPos":"CHIEF ENGINEER",
                    "PerScript":"I’ve started to work in company at 2009. Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age."
                }'>
                </include>
                <include src="./components/person_info.html" locals='{
                    "PerID":"per3",
                    "PerName":"Gregory Francis",
                    "PerPos":"CHIEF ENGINEER",
                    "PerScript":"I’ve started to work in company at 2009. Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age."
                }'>
                </include>
                <include src="./components/person_info.html" locals='{
                    "PerID":"per4",
                    "PerName":"Gregory Francis",
                    "PerPos":"CHIEF ENGINEER",
                    "PerScript":"I’ve started to work in company at 2009. Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age."
                }'>
                </include>
                <include src="./components/person_info.html" locals='{
                    "PerID":"per5",
                    "PerName":"Gregory Francis",
                    "PerPos":"CHIEF ENGINEER",
                    "PerScript":"I’ve started to work in company at 2009. Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age."
                }'>
                </include>
            </div>
            <div class="wrap_slider">
                <a href="#per1" class="slider"></a>
                <a href="#per2" class="slider"></a>
                <a href="#per3" class="slider"></a>
                <a href="#per4" class="slider"></a>
                <a href="#per5" class="slider"></a>
            </div>
        </div>
    </div>
</section>
