<section class="portfolio_compo">
    <div class="wrap_portfolio">
        <div class="porfolio">
            <div class="wrap_port_header">
                <p class="port_header">PORTFOLIO</p>
            </div>
            <div class="wrap_out_imgport">
                <div class="wrap_imgport">
                    <div class="wrap_img">
                        <div class="port_img1" alt="img1"></div>
                        <div class="port_img4" id="img4_phone" alt="img4"></div>
                        <div class="text_port1">
                            <p class="header_img">Blue Mountains</p>
                            <p class="time_img"> 17 Apr 2016</p>
                            <div id="line1" class="line"></div>
                            <p class="scr_img">Planning a vacation to Europe? No doubt you have certain expectations about your upcoming journey.</p>
                            <div class="wrap_status">
                                <div class="view">
                                    <!-- <img class="staticon" src="../images/Views.png"><p class="view_stat">92924</p> -->
                                </div>
                                <div class="like">
                                    <!-- <img class="staticon"  src="../images/likes.png"><p class="like_stat">1273</p> -->
                                </div>
                                <div class="comm">
                                    <!-- <img class="staticon"  src="../images/comments.png"><p class="com_stat">4894</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="port_img2" id="img2_large" alt="img2"></div>
                    </div>
                    <div class="wrap_img">
                        <div class="port_img2" id="img2_phone" alt="img2"></div>
                    </div>
                    <div class="wrap_img">
                        <div class="port_img3" id="img3_large" alt="img3"></div>
                        <div class="port_img4" id="img4_large" alt="img4"></div>
                    </div>
                    <div class="wrap_img">
                        <div class="port_img5" id="img5_large" alt="img5"></div>
                        <div class="text_port2">
                            <p class="text_title">Scenery Photos</p>
                            <p class="author">BY EVGENY METILAN</p>
                            <div id="line2" class="line"></div>
                            <p class="name_img">Wild
                                Nature</p>
                        </div>
                        <div class="port_img6"  alt="img6"></div>
                        <div class="port_img5" id="img5_phone" alt="img5"></div>
                    </div>
                    <div class="wrap_img">
                        <div class="port_img3" id="img3_phone" alt="img3"></div>
                    </div>
                </div>
            </div>
            <div class="wrap_page_nav">
                <img class="nav_arr" id="left" src="../images/arrow.png" alt="nav">
                    <include src="./components/list.html" 
                    locals='{
                        "choose":"list_noimg",
                        "ul_classname":"wrap_choose_nav",
                        "li_classname":"choose_nav",
                        "list":"[`1`,`2`,`3`,`4`,`5`]"
                    }'>
                        
                    </include>
                <img class="nav_arr" id="right" src="../images/arrow.png" alt="nav">
            </div>
        </div>
    </div>
    </div>
</section>
