<form>
    <div class="wrap_inp_name_mail">
        <input class="inp" type="text" placeholder="Name*">
        <input class="inp" type="text" placeholder="Email*">
    </div>
    <div class="wrap_mes">
        <input class="inp" id="mesage" type="text" placeholder="Message*">
    </div>
    <div class="wrap_form_btn">
        <include src="./components/button.html" 
        locals='{
            "BtnColor":"yellow_btn",
            "CtBtn":"SUBMIT"
        }'>
        </include>
    </div>
</form>
