<section>
    <div class="wrap_stay_IT">
        <div class="wr_header_stit">
            <p class="header_stit">Stay In Touch</p>
        </div>
        <div class="wrap_stit_ct">
            <include src="./components/stayIT_phone.html"></include>
            <include src="./components/stayIT_form.html"></include>
            <include src="./components/stayIT_info.html" 
            locals='{
                "LocaInfo":"2300 W Arbutus Dr Citrus Springs, FL 34434, USA",
                "MailInfo":"contact@hofmannui.net",
                "PhoneNum":"793-891-7938, 952-775-6021",
                "iconList":"[`../assets/images/Pinterest_black.png`,`../assets/images/linkedin_black.png`,`../assets/images/google-plus_black.png`,`../assets/images/twitter_black.png`,`../assets/images/facebook_black.png`]"
            }'> 
            </include>
        </div>
    </div>
</section>
