<div class="wrap_stit_info">
    <div class="wrap_info">
        <img src="../images/location.png" alt="location">
        <p class="location_info">{{LocaInfo}}</p>
    </div>
    <div class="wrap_info">
        <img src="../images/mail.png" alt="mail">
        <p class="location_info">{{MailInfo}}</p>
    </div>
    <div class="wrap_info">
        <img src="../images/phone_icon.png" alt="phone">
        <p class="location_info">{{PhoneNum}}</p>
    </div>
    <div class="wrap_contact_icon">
        <each loop="icon in {{iconList}}">
            <img src="{{icon}}" alt="icon contact">
        </each>
    </div>
</div>
