<section>
    <div class="wrap_testi">
        <div class="wrap_testi_header">
            <p class="testi_header">Testimonials</p>
        </div>
        <div class="wrap_testi_tag">
            <!-- start testimonials tag -->
            <include src="./components/testimo_tag.html" locals='{
                "TestiImg":"../assets/images/person_1.png",
                "TestiName":"LULU HOFFMAN",
                "TestiPos":"Marketing Consultant at okodesign.net",
                "TestiScr":"If you are an entrepreneur, you know that your success cannot depend on the opinions of others. Like the wind, opinions change…like the weather, opinions change frequently.",
                "icon_list":"[`../assets/images/linkedin.png`,`../assets/images/twitter.png`,`../assets/images/google-plus.png`]"
            }'>
                
            </include>
            <!-- start testimonials tag -->
            <include src="./components/testimo_tag.html" locals='{
                "TestiImg":"../assets/images/person_2.png",
                "TestiName":"ELSIE DUNCAN",
                "TestiPos":"Project Manager at okodesign.net",
                "TestiScr":"Ever heard of the Fuller Brush Man? You know, those legendary guys who came knocking on the front doors of America, selling brushes, mops and cleaners?",
                "icon_list":"[`../assets/images/facebook.png`,`../assets/images/twitter.png`]"
            }'>
                
            </include>
            <!-- start testimonials tag -->
            <include src="./components/testimo_tag.html" locals='{
                "TestiImg":"../assets/images/persong_4.png",
                "TestiName":"DUSTIN GONZALES",
                "TestiPos":"CEO at hofmannui.net",
                "TestiScr":"Do you remember the story of “The Wizard of Oz”? In this story we saw the characters of Dorothy, who had wanted to run away from home because she thought there was a better place somewhere.",
                "icon_list":"[`../assets/images/facebook.png`,`../assets/images/linkedin.png`,`../assets/images/google-plus.png`]"
            }'>
                
            </include>
            <!-- start testimonials tag -->
            <include src="./components/testimo_tag.html" locals='{
                "TestiImg":"../assets/images/person_5.png",
                "TestiName":"LAURA PARKS",
                "TestiPos":"UX Lead at hofmannui.net",
                "TestiScr":"They are big, bold and beautiful. Billboards have been around for quite a while. In almost all places nowadays you can find billboards of just about every product there is in the market. No matter how you see it, billboard advertising is on the rise.",
                "icon_list":"[`../assets/images/facebook.png`,`../assets/images/linkedin.png`,`../assets/images/twitter.png`,`../assets/images/google-plus.png`]"
            }'>
                </div>
            </include>
        </div>
    </div>
</section>
