<div class="testimo_tag">
    <div class="wrap_testi_img">
        <img class="testi_img" src="{{TestiImg}}" alt="testimonial image">
    </div>
    <div class="wrap_testi_info">
        <p class="testi_name">{{TestiName}}</p>
        <p class="testi_pos">{{TestiPos}}</p>
        <p class="testi_script">{{TestiScr}}</p>
        <div class="wrap_testi_contact">
            <each loop="icon in {{icon_list}}">
                <img src="{{icon}}" alt="testimonials contact">
            </each>
        </div>
    </div>
</div>
