@import "../../abstracts/variables";
@import "../../abstracts/backgrounds";
@import "../../abstracts/mixins";
@media (min-width: $break_phone) and (max-width:$break_tab) {
    header{
        background-color: rgb(182, 179, 179);
        background-image: $background_header;
        background-size: cover;
        display: block;
        padding-top: 2%;
        padding-bottom: 5%;
        isolation: isolate;
        background-blend-mode: multiply;
    }
    .header_component{
        display: flex;
        justify-content: center;
        padding-top: 5%;
        text-align: center;
    }
    .head_content{
        display: block;
    }
    .wrap_title{
        display: flex;
        justify-content: center;
        text-wrap:balance;
        margin-bottom: 7%;
    }
    .title{
        color: $color_white;
        @include header_font_medium;
    }
    .wrap_video{
        display: flex;
        justify-content: center;
        margin-bottom: 7%;
        align-items: center;
    }
    .video{
        padding: 0% 10%;
        width: 100%;
        height: 100%;
    }
    .play_btn{
        position: absolute;
    }
    .arrow{
        display: none;
    }
}
