<main>
    <!-- start feature component -->
    <include src="./components/features.html"></include>
    <!-- start download component -->
    <include src="./components/download.html"></include>
    <!-- start testimonials component -->
    <include src="./components/testimonials.html"></include>
    <!-- start choose plan component -->
    <include src="./components/choose_plan.html"></include>
    <!-- start portfolio component -->
    <include src="./components/portfolio.html"></include>
    <!-- start person component -->
    <include src="./components/person.html"></include>
    <!-- start stay in touch component -->
    <include src="./components/stay_in_touch.html"></include>
    <!-- start map component -->
    <include src="./components/map.html"></include>
</main>
